/* StyleSheet for TimCakir.com */
/* Colors
Primary - #ef6c00 Spanish Orange
Secondary - #ffffff White
Third     - #e6e8e6 Platinum
Fourth    - #ced0ce Pastel Grey
Fifth     - #191919 Eerie Black
*/

h1 {
  text-align: center;
  color: #191919;
  padding-top: 10px;
  padding-bottom: 20px;
}

body {
}

/* Brand Logo */
a.brand-logo {
  color: white;
  font-family: sans-serif;
  margin: auto;
}

.video-container {
  margin: auto;
}

/* Material Icons */
.material-icons {
  font-size: 7em;
  color: #ef6c00;
}

/* center columns with 3 sections */
.col.s4 {
  text-align: center;
}

.promo-caption {
  color: #191919;
  font-weight: bold;
}

p.light.center {
  color: #ced0ce;
}

.nav-extended {
  background-color: #191919;
}

.page-footer {
  background-color: #191919;
}

.footer-text {
  color: #ced0ce;
}
